.bundle
db/*.sqlite3
log/*.log
tmp/**/*
cache
cache/**/*
coverage/*
.idea/**
public/stylesheets/global.css
public/stylesheets/layout.css
public/stylesheets/conf
public/stylesheets/global
public/stylesheets/tools
public/uploads
config/database.yml
capybara-*.html
*~
~*
public/javascripts/all.js
db/schema.rb
**/.DS_Store
.DS_Store
coverage/
rails_best_practices_output.html
tmp/
public/system/**
reports/*
certificates/*
*.sql
logfile
.*.sw*
**/jmeter.log
jmeter.log
java_pid*.hprof
